{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ],
    [
      "@vue/babel-preset-jsx",
      {
        "vModel": false
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": false
      },
    ],
    [
      "@babel/plugin-transform-runtime",
    ],
    [
      "@babel/plugin-syntax-dynamic-import"
    ],
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "~theme"
      }
    ]
  ]
}