{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "esmodules": true
        },
        "corejs": {
          "version": 3,
          "proposals": true
        }
      }
    ],
    [
      "@vue/babel-preset-jsx",
      {
        "vModel": false
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": false
      }
    ],
    [
      "@babel/plugin-transform-runtime"
    ],
    [
      "@babel/plugin-syntax-dynamic-import"
    ],
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "~theme"
      }
    ]
  ]
}
