stats.json
yarn-error.log
*debug*


# h5
node_modules
.DS_Store
dist
dist-ssr
*.local

# server
logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
dist/
.idea/
run/
.DS_Store
*.sw*
*.un~
.tsbuildinfo
.tsbuildinfo.*
ArknightsGameData 

*.production*
*.prod*
*.local*