public-hoist-pattern[]=@vue/*
public-hoist-pattern[]=@vueuse/*
public-hoist-pattern[]=vue
public-hoist-pattern[]=vue-demi
public-hoist-pattern[]=*rollup*
public-hoist-pattern[]=*vite*
public-hoist-pattern[]=@babel*
public-hoist-pattern[]=@tarojs*
