.talent-wrapper {
  display: flex
  position: relative
  justify-content: space-between
  flex-wrap: wrap
  min-width: 700px
}

.talent {
  width: 45%
  margin: 10px 0
  position: relative

  /*天赋名字*/
  &-title {
    border-bottom: 1px solid #818181
    padding-bottom: 3px
    margin-bottom: 10px
    width: 70%

    &-change-button {
      margin-left: 10px
      display: inline
      vertical-align: bottom

      .el-button--mini {
        padding: 2px 4px 2px 8px
        border-radius: 2px
      }

      .el-button--warning:focus, .el-button--warning:hover {
        background-color: #f49800
        border-color: #f49800
      }
    }
  }

  /*天赋内容*/
  &-desc {
    padding: 5px
    position: relative
    min-width: 250px
    display: flex
    align-items: center
    justify-content: space-between
    align-content: center

    &-condition {
      margin-right: 10px
      width: 100px
      word-break: keep-all
    }

    &-content {
      position: relative
      display: inline-block
      flex-grow: 1
      padding-right: 10px
    }
  }
}

simple(type, ttop = 'px') {
  ptop(scale = 1) {
    if (ttop == 'vw') {
      vw(20 * scale)
    } else if (type == 'px') {
      20px
    } else {
      0
    }
  }

  .talent {
    width: 100%
    margin: 0

    & + .talent {
      border: none
      padding-top: ptop(3)
      margin-top: ptop(3)
      border-top: size(type, 2) solid rgba(56, 56, 56, 0.15)
    }

    &-title {
      position: relative
      width: 80%
      border-right: none
      border-bottom: size(type, 1) solid rgba(158, 158, 158, 0.4)
      justify-content: start
      box-sizing: border-box
    }

    /*天赋内容*/
    &-desc {
      width: 100%
      margin-left: size(type, 0)
      flex-wrap: wrap
      padding: 0

      & + .talent-desc {
        margin-top: ptop(0.7)
        padding-top: ptop(0.7)
        border-top: size(type, 1) dashed rgba(158, 158, 158, 0.5)
      }

      &-content {
        width: 100%
      }

      &-condition {
        width: 100%
        margin-bottom: size(type, 10)
        font-size: size(type, 13)
        direction: rtl
        border-bottom: size(type, 2) solid rgba(247, 203, 10, 0.582)
      }

      &-content-item {
        position: relative
        display: inline-block
        padding-right: size(type, 10)
        //padding-bottom: size(type, 10)
        font-size: size(type, 15)
      }
    }
  }
}

.simple {
  &.talent-wrapper {
    min-width: auto
  }

  simple('px')
}

tatentdesctitle(value) {
  .talent {
    &-desc {
      &-title {
        margin-left: value
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .talent-wrapper {
    min-width: auto
    tatentdesctitle(auto)
  }
}

@media screen and (max-width: 500px) {
  simple('vw', 'vw')

  .simple {
    simple('vw', 'vw')

    &.talent-wrapper {
      min-width: auto
      tatentdesctitle(0)
    }
  }
}
