.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s ease
}

.fade-enter, .fade-leave-to {
  opacity: 0
}

.extra-button-enter-active {
  transition: opacity 0.3s ease 0.2s
}

.extra-button-enter, .fade-leave-to {
  opacity: 0
}

.flip-list-move {
  transition: transform 0.7s
}
