
@media screen and (max-width: 500px) {
  .app {
    .el-button {
      padding: vw(14) vw(30)
      font-size: vw(24)

      &.is-circle {
        padding: vw(30)
      }

      & + .el-button {
        margin-left: vw(10)
      }

      &--mini {
        padding: vw(14) vw(30)
        font-size: vw(24)

        &.is-circle {
          padding: vw(14)
        }
      }
    }

    .el-switch {
      &.is-checked &__core:after {
        margin-left: vw(-34)
        left: 100%
      }

      &__label * {
        font-size: vw(32)
      }

      &__core {
        height: vw(40)
        width: vw(80) !important
        border-width: vw(2)
        border-radius: vw(20)

        &:after {
          top: vw(2)
          left: vw(2)
          width: vw(32)
          height: vw(32)
        }
      }
    }

    .el-tag {
      text-align: center

      &--mini {
        min-width: vw(96)
        border-radius: vw(4)
        height: vw(40)
        padding: 0 vw(10)
        line-height: vw(38)
        font-size: vw(24)
      }
    }
  }
}
