@import './icon.styl'

@font-face {
  font-family: 'FZYaSong-H-GBK'
  src: url('https://andata.somedata.top/build/font/fzty_gbk.ttf') format('truetype')
  font-style: normal
  font-weight: normal
}

/*
 ?复制过来的控制pc滚动条出现时不移动的css
 !这些奇奇怪怪的css删掉了 2019年8月31日
 *因为现在低栏是常驻在屏幕外的，永远都会有滚动条，不考虑因为滚动条出现导致画面变动的问题了
*/
body {
  margin: 0
  background-color: white
  width: 100vw
  overflow-x: hidden
  position: relative
  // 针对ipad的点击放大禁用
  touch-action: manipulation
}

.el-popup-parent--hidden {
  overflow: hidden
}

@media screen and (min-width: 1200px) {
  body {
    width: calc(100vw - 17px)
  }
}

#app {
  display: flex
  min-height: calc(100vh + 70px) // 防止#footer闪现
  flex-direction: column
}

.router-drawer {
  background: linear-gradient(171deg, #313131 37%, rgba(60, 66, 90, 0.67)) !important

  .el-drawer__header {
    background-color: #313131 !important
    height: 20px
    margin: 0
    padding: 0
  }

  .el-icon {
    color: wheat
  }
}

// ! maybe delete
.image-inner {
  width: 100%
  height: 100%
  z-index: 1
  position: relative
  background-position: bottom left
  background-size: contain
  background-repeat: no-repeat
}

.cbg {
  background-size: contain
  background-repeat: no-repeat
}

textarea {
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
}

.click {
  border: none
  outline: none
  user-select: none
  -webkit-tap-highlight-color: transparent
}

.item-popover-class {
  padding: 20px !important
  outline: none

  .el-popover__title {
    font-weight: bold
  }
}

.tags-popover-container {
  max-width: 959px
}

.fuck-outline {
  outline: none
}

.span-underline {
  color: #828282
  border-bottom: 1px solid #313131
}

.mobile-rotate {
  transform: rotate(90deg)
  left: 175px !important
}

// echart
.chart-body div:first-of-type {
  z-index: 0
}

.status-lv-favor-wrapper .el-switch__label.is-active {
  color: #f49800
}

.agent-card-star-pic .el-image__inner {
  width: auto
}

.info-panel-container .el-tabs__nav-scroll, .home-layout-wrapper .el-tabs__nav-scroll {
  padding: 0 10px
}

// ? EnemyStatus el-tooltip
.enemy-tooltip-item {
  width: 200px
}

.el-drawer__wrapper {
  // ? 让它能滚动
  .el-drawer__body {
    overflow-y: scroll
    overflow-x: hidden
    margin-right: -17px
    padding-right: 17px
  }

  .el-drawer__header {
    outline: none

    // ? 好好的focus你个大头鬼？
    &>:first-child {
      &:focus {
        outline: none
      }
    }
  }

  .el-drawer__container {
    overflow-x: hidden
  }
}

.enemy-drawer {
  min-height: calc(100% + 1px)
}

@media screen and (min-width: 1000px) {
  .el-message-box {
    min-width: 700px
  }

  .el-message-box__message p {
    margin: 10px !important
  }
}

@media screen and (max-width: 700px) {
  .alert-update-msg {
    width: 100%
  }

  .el-message-box {
    width: 360px !important
  }
}

.rich-style {
  &[class*=ba] {
    text-decoration: underline
    text-decoration-color: red
    text-underline-position: under
    color: #ff5500
  }
}

.rich-color {
  &[class*=down], &[class*=pn], &[class*=talpu] {
    color: #FF6237
  }

  &[class*=vup] {
    color: #0098DC
  }

  &[class*=rem] {
    color: #F49800
  }

  &[class*=kw] {
    color: #00B0FF
  }

  &[class*=lv] {
    color: #049cb8
  }

  &[class*=act] {
    color: #ff5500
  }
}