@import '../styl/share'
@import '../styl/effect.styl'

+prefix-classes(el-) {
  .popover {
    background: normalBgColor
    box-shadow: boxShadow
    color: #606266
    line-height: 1.4
    font-size: 14px
    padding: 20px 20px 20px
  }
}
