
.top-menu {
  display: grid
  grid-template-columns: 150px repeat(auto-fill, 100px)
  background-color: #515151
}

.link-mode-short {
  .top-menu {
    grid-template-columns: 3fr 1fr
    align-items: center
    color: white
  }

  .router-more {
    text-align: center
  }
}

//route-item
.route-item {
  padding: 15px 0
  border-bottom: 3px solid
  color: #515151
  animation: border 0.3s ease-in-out
  position: relative
  cursor: pointer

  &:focus {
    outline: none
  }

  &:any-link {
    cursor: pointer
    text-decoration: none
  }

  &.is-here {
    color: rgb(255, 208, 75)

    .route-item-text, .route-animate {
      color: rgb(255, 208, 75)
    }
  }

  &-text {
    color: white
    font-size: 0.9rem
    text-align: center
  }

  &.is-short {
    padding: vw(25) 0 vw(5)
    display: block

    &.is-top {
      padding: vw(25) vw(10) vw(15)
    }

    .route-item-text {
      text-align: left
    }

    .route-animate {
      justify-content: start
      align-items: center
      font-size: vw(40)
      height: vw(50)
      position: relative
    }
  }

  &-short {
    display: flex
    justify-content: space-between
    align-items: flex-end
    color: white
    font-size: vw(40)

    .is-right {
      font-size: vw(30)
    }
  }
}

.route-animate {
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  color: white

  .route-animate-ani, .route-animate-static {
    display: flex
    justify-content: center
    align-items: end
    height: 1.2rem
  }

  .route-animate-static {
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    align-items: center
  }

  .route-item-animate {
    font-size: 1rem
    width: 20px
    transition: all 0.3s linear
    padding-bottom: 0
    will-change: font-size, padding, width
    opacity: 0

    &.route-item-text {
      opacity: 1
      width: 100%
    }

    &.k-big {
      width: 27px
      font-size: 1.3rem
      padding-bottom: 2px
      opacity: 0.3
    }

    &.k-n {
      width: 25px
      font-size: 1.05rem
      padding-bottom: 0px
      opacity: 1
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0
  }

  50% {
    opacity: 0
  }

  60% {
    opacity: 1
  }

  90% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@keyframes fade-reverse {
  0% {
    opacity: 1
  }

  50% {
    opacity: 1
  }

  60% {
    opacity: 0
  }

  90% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}
