@import '../styl/effect'

.tooltip {
  background: #fff
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
  font-size: 12px

  &.dark {
    background: darkBgColor
    color: darkFontColor

    .popper-arrow {
      &:before {
        background: darkBgColor
      }
    }
  }
}
