@import '../styl/effect'

.tooltip {
  background: #fff
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
  font-size: 12px
  width: max-content
  max-width: 90vw
  white-space: normal
  box-sizing: border-box

  &.dark {
    background: darkBgColor
    color: darkFontColor

    .popper-arrow {
      &:before {
        background: darkBgColor
      }
    }
  }
}
