/*
! 去掉了1ms 的延迟，让安卓在非 transle(100%) 时 不闪烁
! 将100% 改成 90% 令 ios 不鬼畜

*/
@keyframes el-drawer-fade-in {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes rtl-drawer-in {
  0% {
    transform: translate(90%, 0px)
  }

  100% {
    transform: translate(0px, 0px)
  }
}

@keyframes rtl-drawer-out {
  0% {
    transform: translate(0px, 0px)
  }

  100% {
    transform: translate(90%, 0px)
  }
}

@keyframes ltr-drawer-in {
  0% {
    transform: translate(-90%, 0px)
  }

  100% {
    transform: translate(0px, 0px)
  }
}

@keyframes ltr-drawer-out {
  0% {
    transform: translate(0px, 0px)
  }

  100% {
    transform: translate(-90%, 0px)
  }
}

@keyframes ttb-drawer-in {
  0% {
    transform: translate(0px, -90%)
  }

  100% {
    transform: translate(0px, 0px)
  }
}

@keyframes ttb-drawer-out {
  0% {
    transform: translate(0px, 0px)
  }

  100% {
    transform: translate(0px, -90%)
  }
}

@keyframes btt-drawer-in {
  0% {
    transform: translate(0px, 90%)
  }

  100% {
    transform: translate(0px, 0px)
  }
}

@keyframes btt-drawer-out {
  0% {
    transform: translate(0px, 0)
  }

  100% {
    transform: translate(0px, 90%)
  }
}

.el-drawer {
  position: absolute
  box-sizing: border-box
  background-color: #FFFFFF
  display: flex
  flex-direction: column
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12)
  overflow: hidden

  &.ltr, &.rtl {
    height: 100%
    top: 0
    bottom: 0
  }

  &.ttb, &.btt {
    width: 100%
    left: 0
    right: 0
  }

  &.ltr {
    left: 0
    animation: ltr-drawer-out 0.3s
  }

  &.rtl {
    right: 0
    animation: rtl-drawer-out 0.3s
  }

  &.ttb {
    top: 0
    animation: ttb-drawer-out 0.3s
  }

  &.btt {
    bottom: 0
    animation: btt-drawer-out 0.3s
  }
}

.el-drawer.rtl {
  animation: rtl-drawer-out 0.3s
}

.el-drawer__open {
  .el-drawer.rtl {
    animation: rtl-drawer-in 0.3s
  }

  .el-drawer.ltr {
    animation: ltr-drawer-in 0.3s
  }

  .el-drawer.ttb {
    animation: ttb-drawer-in 0.3s
  }

  .el-drawer.btt {
    animation: btt-drawer-in 0.3s
  }
}

.el-drawer__wrapper {
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  overflow: hidden
  margin: 0
}

.el-drawer__header {
  align-items: center
  color: #72767b
  display: flex
  margin-bottom: 32px
  padding: 20px
  padding-bottom: 0
}

.el-drawer__header> :first-child {
  flex: 1
}

.el-drawer__title {
  margin: 0
  flex: 1
  line-height: inherit
  font-size: 1rem
}

.el-drawer__close-btn {
  /*定位到右上角*/
  position: absolute
  top: 0
  right: 0
  padding: 15px
  z-index: 999
  border: none
  cursor: pointer
  font-size: 20px
  color: #818181
  background-color: transparent
}

.el-drawer__body {
  flex: 1
}

.el-drawer__body>* {
  box-sizing: border-box
}

.el-drawer__container {
  position: relative
  left: 0
  right: 0
  top: 0
  bottom: 0
  height: 100%
  width: 100%
}

.el-drawer-fade-enter-active {
  animation: el-drawer-fade-in 0.3s
}

.el-drawer-fade-leave-active {
  animation: el-drawer-fade-in 0.3s reverse
}
