@font-face {
    font-family: "FZYaSong-H-GBK";
    src: url("fzty_gbk.eot"); /* IE9 */
    src: url("fzty_gbk.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fzty_gbk.woff") format("woff"), /* chrome, firefox */
    url("fzty_gbk.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("fzty_gbk.svg#FZYaSong-H-GBK") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


